a {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 640px;
  min-width: 290px;
  padding: 0 15px;
}

dt {
  float: left;
  font-weight: bold;
}

dd {
  margin: 0.5em 0 0.5em 11em;
}

li {
  margin: 0.5em 0 0.5em;
}

p {
  line-height: 1.5;
}

.photos {
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
}

.photos a {
  color: orange;
}

.photos figure {
  margin: 0;
  position: relative;
}

.photos img {
  display: block;
  height: 100%;
  width: 100%;
}

.photos figcaption {
  bottom: 0;
  position: absolute;
  right: 3px;
}

video {
  height: 100%;
  width: 100%;
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.405em;
  }

  h2 {
    font-size: 1.270em;
  }

  .photos figcaption {
    font-size: max(2.5vw, 10pt);
  }
}
