body {
  font-family: Arial, sans-serif;
  margin-block: 1.5em 4.5em;
  margin-inline: auto;
  max-width: 33.75em;
  min-width: 18.125em;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

blockquote, dd, dt, figcaption, h1, h2, h3, h4, h5, h6, li, nav, p {
  line-height: 1.5;
}

figure {
  margin-inline: 1em;
}

video {
  height: 100%;
  width: 100%;
}

dl.p > dt {
  display: inline;
}

dl.p > dt::after {
  content: ":";
}

dl.p > dd {
  display: inline;
  margin: 0;
}

dl.p > dd::after {
  content: "\A";
  white-space: pre;
}

dl.col {
  column-width: 11em;
}

dd > ul {
  margin: 0;
}

.photos {
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
}

.photos a {
  color: orange;
}

.photos figcaption {
  bottom: 0;
  position: absolute;
  right: 0.1875em;
}

.photos figure {
  margin: 0;
  position: relative;
}

.photos img {
  display: block;
  height: 100%;
  width: 100%;
}

footer {
  margin-block-start: 2em;
}

@media (max-width: 28.125em) {
  body {
    margin-block-end: max(7vw, 1.404em);
  }

  h1 {
    font-size: max(7vw, 1.404em);
  }

  h2 {
    font-size: max(5.25vw, 1.053em);
  }
}

@media (max-width: 33.75em) {
  .photos figcaption {
    font-size: max(2.962962vw, 0.75em);
  }
}
