a {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 8px;
}

body > div {
  margin: 0 auto;
  max-width: 480px;
  min-width: 300px;
}

footer {
  border-top: 1px solid #eee;
  color: gray;
}

main {
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 0.8125em;
}

main > a:first-child {
  display: block;
  float: left;
  height: 80px;
  margin: 0.25em 1em 0 0;
  width: 80px;
}

main > p:nth-child(2) {
  min-height: 80px;
}

main > p:nth-child(3) {
  height: 24px;
}

main > p:nth-child(3) > strong {
  position: relative;
  top: -7px;
}

main > p:nth-child(3) > svg {
  left: 1px;
  position: relative;
  top: 3px;
}

p {
  line-height: 1.5;
}

@media (max-width: 430px) {
  h1 {
    font-size: 1.4em;
    margin: 1rem 0 1rem;
  }

  main {
    padding-bottom: 0.3125em;
  }
}
