a {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 540px;
  min-width: 290px;
  padding: 0 15px;
}

dt {
  float: left;
  font-weight: bold;
}

dd {
  margin: 0.5em 0 0.5em 11em;
}

p {
  line-height: 1.5;
}

ul.photos {
  display: flex;
  list-style: none;
  padding: 0;
}

ul.photos > li + li {
  margin-left: 15px;
}

@media (max-width: 540px) {
  h1 {
    font-size: 1.405em;
  }

  h2 {
    font-size: 1.270em;
  }
}
